@media only screen and (max-width:800px){
    .issues{
        zoom: .5;
    }
}

/* @media only screen and (max-width: 1200px){

} */
.issues{
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-width: 1300px; */
    
    
}
.menu-option{
    position: absolute;
    top: 25px;
    margin: 0 0 0 10px;
    border-radius:10px ;
    display: none;
    z-index: 10;
}
.svg-large{
    
    height: 40px;
    border-radius:10px ;
    
}
.svg-large:hover{
    cursor: pointer;
    box-shadow: 0 0 0px 5px white;
    background-color: white;
}
.issues-main-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.issues-main-heading h2{
    margin: 0 100px;
    font-size: 2rem;
    color: var(--head-color);
}

.issues-main-heading input{
    /* width: 50%; */
    flex-grow: 1;
    text-indent: 10px;
    margin-right: 10%;
    height: 30px;
}
.raise-issue-button{
    font-size: 1rem;
}



.issues-main{
    height: 870px;
    margin-top:10px ;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    
  
}

.issues-main-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    height: 800px;



}
.issue-block{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 840px;
    height: inherit;
    overflow: hidden;
    min-width: 750px;

    padding: 5px;
    }
.issue-block-container{

    
    overflow-y: scroll;
    margin: 10px 0 20px;
    border:1px solid rgb(0, 0, 0);
    background-color: white;


}


/* ------------filter style--------- */
@media only screen and (max-width: 1200px){
    .menu-option{
        display: block;
    }
    .issue-filter{
        position: absolute;
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        border-radius: 10px;
        box-shadow: 0 0 10px 0 black;
        border: 1px solid var(--head-color);  
        /* zoom: .99; */
        left: 10px;  
        top:80px;
        z-index: 20;
        visibility: hidden;
    }
}
@media only screen and (min-width: 1200px){
    .issue-filter{
        visibility:visible!important;
    }
}

.issue-filter{
    width: 20%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issue-filter>div{
    border-bottom: 1px solid var(--head-color);
    padding-bottom: 10px;

    width: 200px;
}
.issue-filter div h3{
    color:var(--head-color);
}
.issue-filter div label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.filter-by-tags div{
    height: 98px;
    overflow-y: scroll;
    /* padding-bottom: 10px;
    margin-bottom: -10px; */
}
.filter-by-author select{
    height: 25px;
    width: 100%;
}
.issue-sorting label{
    margin: 5px;
    width: 100px;
}
.issue-sorting label:hover{
    cursor: pointer;
}
.issue-sorting label input{
    border: none;
    background-color:rgba(255, 255, 255, 0) ;
}
.issue-filter label input:hover{
    cursor: pointer;
}
/*-----------------------------------*/

.issues-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    padding: 10px;
    /* color: white; */
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  }
.issues-container:hover  {
    /* background: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); */
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    background: linear-gradient(to top, #7c98b3  0%, #637081 74%);

    color: white;
}



/* item description is available on hover */
.issue-description{
    height: 0px;
    overflow: hidden;
    
   
}
.issues-container-main:hover .issue-description{
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 15px;
    margin: 5px;
    box-shadow: inset 0 0 4px 0;
    background-color: #ffffff;
    background-image: linear-gradient(-315deg, #ffffff 0%, #d7e1ec 74%);
    transition: .3s ease-in;
   
}
.issue-description .description-detail{
    font-size: 1.1rem;
    margin: 5px 0 0 5px ;
}
.issue-description .description-tag{
    color: var(--head-color);
}


.issue-serial-number{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40px;
   
}
.issue-serial-number span{
    position: absolute;
    font-size: 0.95rem;
    left: 40px;
    /* background-color: blueviolet; */
    transform: rotate(-25deg);
}

.issue-svg{
    height: 20px;
    margin-right: 5px;
    /* position: absolute; */
}
.issue-title{
    text-align: justify;
    width: 40%;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: sans-serif;
    
}
.issue-labels{
    display: flex;
    justify-content: space-between;
    width: 30%;



}
.issue-author{
    width: 10%;
    text-align: end;



}
.label-tag-block{
    width: 100px;
    text-align: center;
    margin:0 5px;
    padding: 5px 0;
    border-radius:5px ;
    font-weight: 600;
    font-size: .9rem;
    color: white;
}

/* type */
.bug{
    background-color: rgb(121, 121, 121);
}
.error{
    background-color: brown;
}
.features{
    background-color: rgb(52, 115, 139);
}
/* progress */
.new{
    background-color:purple ;
}
.in-progress{
    background-color: green;
}
.closed{
    background-color: red;
}
.on-hold{
    background-color: lightsalmon;
}

/* priority */
.high{
    background-color: rgb(214, 83, 83);
}
.medium{
    background-color: rgb(211, 158, 23);
}
.low{
    background-color: rgb(105, 173, 105);
}

/* scrollbar setting */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--head-color); 

    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }