
.projects{
    display: flex;
    /* align-items: center; */
}

#add-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
    min-width: 400px;
    height: 550px;
    margin: 80px 20px 0 40px;
    box-shadow: 0 0 10px 0;
    border-radius: 5%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    
    
}
.add-project-menu{
    visibility: hidden;    
}

@media only screen and (min-width:900px){
    #add-project{
        display: flex!important;
    }
}
@media only screen and (max-width:900px){

    .projects{
        zoom: .8;
        display: flex;
        flex-direction: column;
        justify-content: center!important;
        align-items: center;
    }
    #add-project{
        zoom: 1.2;
        display: none;
        margin-bottom: 50px;
        
    }
    .add-project-menu{
        visibility: visible; 
        top:150px!important;
        left: 50px;
        padding: 5px 0 0 5px;
        border: 1px solid var(--head-color);
        border-radius: 0px 10px 10px !important;
        box-shadow: 0 0 5px 0 var(--head-color);
    }
    .add-project-menu:hover{
        /* box-shadow: none; */
        zoom: 1.01;
        overflow: hidden;

    }
    .projects-section{
        border-top: 5px solid var(--head-color);
    }
   
    
}

#add-project h2{
    color: var(--head-color)
}
#add-project label{
    width: 80%;
    /* display: flex; */
}
#add-project label h3{
    margin: 10px 0 -10px 0;
    padding: 0;
}
#add-project label input{
   
    box-shadow: inset 0 0 5px 0 var(--head-color);
    border: none;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 100%;
    margin: 20px 0;
    height: 30px;
    width: 100%;
}
#add-project input:focus, #add-project textarea:focus{
    
    outline: none;
    /* box-shadow: inset 0 0 5px 0 var(--head-color); */
    /* outline: 2px solid var(--head-color); */
    border: 2px solid var(--head-color);
    /* box-sizing: border-box; */



}
#add-project label textarea{
    border-radius: 10px;
    
    box-shadow: inset 0 0 5px 0 var(--head-color);    
    font-size: 100%;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 20px;
    height: 100px;
    width: 100%;
    max-width: 100%;
    max-height: 150px;


}

.add-project-btn{
    font-size: 1.5rem!important;
    padding-top: 10px!important;
    height: 50px!important;
    width: 80%;
}




.projects-section{

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    overflow-y: scroll;   
    max-height: 870px; 
    /* width: 70%; */
    /* border: 1px solid green; */
}

.project-container{

    position: relative;
    margin: 100px 50px 0 50px;
    max-width: 350px; 
    width: 25%;
    min-width: 310px;
    height: 300px;
    /* height: 36%; */
    border-radius: 10px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    
}

.project-name{
    position: absolute;
    top: -2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--head-color) ;

}
.svg-medium{
    height: 30px;
    margin:0 5px;
}

.project-description{

    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
}
@keyframes move {
    0% {left:2%}
    70% {left:-250%}
    70.01%{left:110%}
    100%{left:2%}

}
.project-description h4{
    /* background-color: white; */
    color: var(--head-color);
    width: 25%;
    height: 20px;
    padding-left: 5px;

}
.project-description div{
    position: relative;
    width: 70%;
    height: 20px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(255, 255, 255, 0.493);
    padding-left: 5px;
    overflow: hidden;

}
.project-description div span{
    position: absolute;
    left: 2%;
}

.project-container:hover .project-description div span{
    animation: move 20s linear .5s infinite normal ;
    /* name duration time-function delay iteration-count direction fill mode */


}


.project-image{
    width: 75%;
    height: 75%;
    background-color: white;
    border-radius: 10%;
    margin: 9% auto ;
    box-shadow:inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 20;



    display: flex;
    justify-content: center;
    align-items: center;
}
.project-image:hover{
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);

}
.project-image img{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    object-fit: contain;
}
.project-image:hover img{ 

    width: 90%;
    height: 90%;
    transition: 1s;
}

.project-link{
    position: absolute;
    display: flex;
    align-items: center;
    height: 20px;
    background-color: white;
    padding: 2px;
    border-radius:50% ;
    font-size: .8rem;
    right: 5px;
    top:5px;
    transition: .3s ease-out ;
}
.project-link:hover{
    border-radius: 10px 20px 20px 10px;
    cursor: pointer;
}
.project-link:hover .svg{
    transform: rotate(225deg);
    transition: 1s ease-in;
}
.svg{
    width: 20px;
}
.project-link a{
    width: 0px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .2s;

    /*
    these are the value for hte shorthand property for transiton
    transition-property: width ;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay:2s;
     */

}
.project-link:hover a{
    width: 150px;
    transition: .3s ease-in;

}

.project-author{

    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    /* background-color:white; */
    
}
.project-author span{
    display: block;
    overflow: hidden;
    width: 0;
    color: var(--head-color);
   transition: .2s ease-in;

}
.project-author:hover span{
   width: 100px;
   transition: .5s ease-in;
}




